<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item no-padding>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input type="text" placeholder="Informe o nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input type="email" placeholder="Informe o email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone:</ion-label>
    <ion-input type="tel" placeholder="Informe o telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Renda:</ion-label>
    <ion-input type="number" placeholder="Informe a renda" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nascimento:</ion-label>
    <ion-input type="text" placeholder="Informe o nascimento"></ion-input>
  </ion-item>  
  <ion-button	shape="round" color="primary" expand="block" padding>
    Confirmar
  </ion-button>
</ion-content>
